<h1 class="title"><%= @users.size %> missing daily <%= "update".pluralize(@users.size) %></h1>
<p class="subtitle">These people have not submitted their daily update for <%= @date.strftime("%A, %B %-d") %>:</p>

<ul>
  <% @users.each do |user| %>
    <li><%= user.name %></li>
  <% end %>
</ul>

<p><%= link_to "Open the daily performance dashboard", reports_daily_performance_url %></p>

<p class="footer">Need help? <%= mail_to "support@fizzy.do", "Send us an email" %>.</p>
